@use "../../styles/" as *;

.navContainer {
    box-sizing: border-box;
    padding: 12px;
    background-color: var(--primBg);
    @include flexCentered;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    width: 500px;

    @include media-phone {
        width: 100%;
    }
}
