@use '../../styles/' as *;

.navContainer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;

    @include themeColorTransition;
    @include baseBlur;
    @include boxSizingBorder;
    @include flexCentered;
    @include baseShadow;
}

.navRoutes {
    flex: 1;
    max-width: 400px;
    flex-wrap: wrap;
    align-self: center;

    @include flexCentered;
    @include media-phone {
        max-width: unset;
    }
}
