@use "../../styles/" as *;

.navContainer {
    @include baseBlur;
    z-index: 2;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    @include flexCentered;
    // width: 400px;
    width: 100%;

    @include media-phone {
        border-radius: 0;
        // width: 90%;
    }
}

.navRoutes {
    @include flexCentered;
    flex: 1;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 20px;
    align-self: center;
}
