@use "../../styles/" as *;

$logoContainer: 56px;

.homeContainer {
    grid-auto-rows: unset;
}

.homeHeader {
    display: grid;
    place-self: center;
    max-width: $desktopMaxWidth;
    gap: 12px;
}

.homeTitle {
    gap: 16px;
    grid-template-columns: min-content max-content;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

.homeLogo {
    display: grid;
    place-items: center;
    border-radius: 200px;
    height: $logoContainer;
    width: $logoContainer;
    background-color: var(--primBg);
    @include baseShadow;
}

.homeSubHeader {
    @include font-size-normal;
    @include font-weight-light;
    line-height: 1.6em;
}
