@use "../../styles/" as *;

$closeSize: 28px;

.floatingHelpContainer {
    display: grid;
    grid-template-columns: auto min-content;
    grid-auto-flow: column;
    position: absolute;
    @include bgGradient(top right);
    border-radius: 200px;
    place-items: center;
    @include baseShadow;
    @include aniFloating;
    padding: 12px;
    max-width: 180px;
    gap: 12px;
}

.floatingHelpText {
    @include font-size-small;
    line-height: 1.5em;
    white-space: nowrap;
    color: var(--primBg);
}

.floatingClose {
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--primBg);
    width: $closeSize;
    height: $closeSize;
    @include aniHoverBase;
    path {
        @include baseGradient(stroke, right);
    }
}
