@use "../../styles/" as *;

$closeSize: 32px;

.floatingHelpContainer {
    z-index: 3;
    display: grid;
    grid-template-columns: auto min-content;
    grid-auto-flow: column;
    position: absolute;
    @include bgGradient(bottom right);
    border-radius: 200px;
    place-items: center;
    @include baseShadow;
    @include aniFloating;
    padding: 12px 12px 12px 20px;
    max-width: 180px;
    gap: 12px;
}

.floatingHelpText {
    @include font-size-small;
    line-height: 1.5em;
    white-space: nowrap;
    color: var(--primWhite);
}

.floatingClose {
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--primWhite);
    width: $closeSize;
    height: $closeSize;

    path {
        stroke: var(--primBlack);
    }

    @include aniHoverBase {
        path {
            stroke: var(--primFg);
        }
    }
}
