@use "../../styles/" as *;

$inputPadding: 20px 16px;
$transition:
    border 0.7s,
    background-color 0.7s;

input {
    all: unset;
    padding: $inputPadding;
    color: var(--primFg);
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    outline-color: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    caret-color: var(--primFg);
    line-height: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: horizontal;

    // Remove ios inner shadow
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none !important;
    background-color: transparent;

    ::placeholder {
        color: var(--greyText);
    }
}

.mainContainer {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--greyBg);
    border-radius: 20px;
    transition: $transition;

    &:hover {
        // border: 1px solid var(--primFg);
        background-color: var(--greyBg);
        transition: $transition;
    }

    &:focus-within {
        border: 2px solid var(--link);
        background-color: transparent;
    }
}
