@use "../../styles/" as *;

.fullscreenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    @include baseBlur;
    position: fixed;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageFullscreen {
    place-self: center !important;
    height: 70vh;
    max-height: unset !important;
}
