@use "../../styles/" as *;

.imageContainer {
    display: inline-block;
    position: relative;
}

.fullscreenContainer {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include baseBlur;
    position: fixed;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageFullscreen {
    place-self: start !important;
    height: 70vh;
    max-height: unset !important;
}

.imageLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
