$hoverDuration: 0.5s;

@mixin aniHoverBg {
    transition: background-color $hoverDuration ease-out, color $hoverDuration ease-out;
}

@mixin aniClick {
    &:active {
        transform: scale(0.9);
    }
}
