@mixin baseBlur {
    background-color: var(--blurBg);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(4px);
}

@mixin darkBlur {
    background-color: var(--blurDark);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(4px);
}
