@use "./responsive" as *;
@use "./font" as *;

@mixin fullVh {
    height: 100vh;
    @include media-phone {
        height: -webkit-fill-available;
        height: -moz-available;
    }
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    background-color: var(--primBg);
    @include fullVh;
}

html {
    @include fullVh;
    @include base-font;
}
