@mixin fullVh {
    height: -webkit-fill-available;
}

@mixin fullVw {
    width: -webkit-fill-available;
}

body {
    margin: 0;
    background-color: var(--primBg);
    @include fullVh;
}

html {
    @include fullVh;
}
