@use './responsive' as *;
@use './font' as *;
@use './animations' as *;

$globalPadding: 20px;
$desktopMaxWidth: 720px;
$desktopMaxWidth4k: 1400px;

@mixin bodyPadding {
    padding: 0 $globalPadding;
}

@mixin bodyMargin {
    margin: 0 $globalPadding;
}

@mixin fullVh($overflowY: hidden) {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: $overflowY;

    @include media-phone {
        height: -webkit-fill-available;
        height: -moz-available;
    }
}

@mixin fullVw {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;

    @include media-phone {
        width: -webkit-fill-available;
        width: -moz-available;
    }
}

@mixin boxSizingBorder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: var(--primBg);
    @include themeColorTransition;
    @include fullVh;
}

html {
    @include base-font;
    @include fullVh;
}

@mixin globalBottomAfter {
    &::after {
        content: "Firefox appears to treat bottom padding in scrollable divs differently, or it's bugged.";
        height: 148px;
        color: transparent;
    }
}

@mixin globalTopAfter {
    &::before {
        content: "Firefox appears to treat bottom padding in scrollable divs differently, or it's bugged.";
        height: 20px;
        color: transparent;
    }
}

* {
    scrollbar-color: var(--greyText) transparent;
    scrollbar-base-color: transparent;
    scrollbar-width: 24px;
    &::-webkit-scrollbar,
    -moz-scrollbar {
        width: 8px;

        /* width of the entire scrollbar */
        // &:hover {
        // }
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;

        // &:hover {

        // }

        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--greyText);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 0px solid transparent;

        /* creates padding around scroll thumb */
        &:hover {
            background-color: var(--primWhite);
        }
    }
}
