:root {
    // Grey
    --greyText: #818991;
    --lightGreyText: #6b737b;
    --darkGreyText: #818991;

    // --greyBg: #e5ebf0;
    --greyBg: #26272d;
    --darkGreyBg: #26272d;
    --lightGreyBg: #dbe3eb;

    --greyLine: #1c2026;
    --darkGreyLine: #1c2026;
    --lightGreyLine: #d8e0e9;

    --red: #e42323;

    // Primary
    --primBg: var(--primBlack);
    --primFg: var(--primWhite);
    --primBlack: #1a1a20;
    --primWhite: #fafafa;
    --lightPrimWhite: #ffffff;
    --darkPrimWhite: #d7d7d7;

    // Link color
    --link: #687cfd;
    // --darkLink: #5c72ff;
    --darkLink: #687cfd;
    --lightLink: #0064d9;

    // Blur backgrounds
    --blurBg: rgba(26, 26, 32, 0.8);
    --lightBlurBg: rgba(255, 255, 255, 0.85);
    --darkBlurBg: rgba(26, 26, 32, 0.8);

    // Shadows
    --darkShadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.1);
    --lightShadow: 0px 0px 9px 0px rgba(26, 26, 32, 0.1);
    --baseShadow: 0px 0px 13px 0px rgba(255, 255, 255, 0.1);

    // Gradients
    --gradientPink: $gradientPink;
    --gradientBlue: $gradientBlue;
}

$navActiveBar: 2.5px;
$gradientPink: #b334b1;
$gradientBlue: #3062e3;

@mixin bgGradient($direction: top) {
    background-image: linear-gradient(to $direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    background-image: -moz-linear-gradient(
        $direction,
        $gradientPink 0%,
        $gradientBlue 99.99%,
        rgba(26, 26, 32, 0) 100%
    );
    background-image: -webkit-linear-gradient(
        $direction,
        $gradientPink 0%,
        $gradientBlue 99.99%,
        rgba(26, 26, 32, 0) 100%
    );
    background-image: -ms-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    background-image: -o-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    background-size: 150% auto;
}

@mixin baseGradient($property, $direction) {
    $property: linear-gradient(to $direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    $property: -moz-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    $property: -webkit-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    $property: -ms-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
    $property: -o-linear-gradient($direction, $gradientPink 0%, $gradientBlue 99.99%, rgba(26, 26, 32, 0) 100%);
}

@mixin textGradient($direction: top) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    @include bgGradient($direction);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
