@mixin flexCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexJustifyStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flexAlignStart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
