$hoverDuration: 0.4s;

@mixin linkTransitions {
    transition: transform $hoverDuration, background-color $hoverDuration, color $hoverDuration, stroke $hoverDuration;
}

@mixin aniLinkScale {
    transition: transform $hoverDuration;
    transform: scale(1.04);
}

@mixin aniLinkClick {
    &:active {
        transition: transform $hoverDuration;
        transform: scale(0.9);
    }
}

@mixin aniHoverBase {
    @include linkTransitions;
    &:hover {
        @include aniLinkScale;
        background-color: var(--link);
        color: var(--primFg);
        path,
        rect {
            stroke: var(--primBg);
        }
        cursor: pointer;
        @content;
    }
    @include aniLinkClick;
}
