$hoverDuration: 0.3s;

$allLinkTransforms: transform $hoverDuration, background-color $hoverDuration, color $hoverDuration,
    stroke $hoverDuration;

@mixin aniHoverBase {
    transition: $allLinkTransforms;
    &:hover {
        transition: $allLinkTransforms;
        transform: scale(1.05);
        background-color: var(--link);
        color: var(--primFg);
        path,
        rect {
            stroke: var(--primBg);
        }
        cursor: pointer;
        @content;
    }

    &:active {
        transition: transform $hoverDuration;
        transform: scale(0.9);
    }
}
