$hoverDuration: 0.2s;

$allLinkTransforms: transform $hoverDuration, background-color $hoverDuration, color $hoverDuration,
    stroke $hoverDuration;

@mixin aniLinkScale {
    transition: transform $hoverDuration;
    transform: scale(1.05);
}

@mixin aniLinkClick {
    &:active {
        transition: transform $hoverDuration;
        transform: scale(0.9);
    }
}

@mixin aniHoverBase {
    transition: $allLinkTransforms;
    &:hover {
        @include aniLinkScale;
        background-color: var(--link);
        color: var(--primFg);
        path,
        rect {
            stroke: var(--primBg);
        }
        cursor: pointer;
        @content;
    }

    @include aniLinkClick;
}
