@mixin scroll-bar {
    scrollbar-color: var(--greyBg) transparent;
    scrollbar-width: 40px;
    &::-webkit-scrollbar,
    -moz-scrollbar {
        width: 8px;

        /* width of the entire scrollbar */
        // &:hover {
        // }
        background-color: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;

        // &:hover {

        // }

        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--greyBg);
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 0px solid transparent;

        /* creates padding around scroll thumb */
        &:hover {
            background-color: var(--primWhite);
        }
    }
}
