@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 8px;
        display: none;

        /* width of the entire scrollbar */
        &:hover {
            background-color: transparent;
        }
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;

        // &:hover {

        // }

        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: red;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 0px solid transparent;

        /* creates padding around scroll thumb */
        &:hover {
            background-color: orange;
        }
    }
}
