@use "./font" as *;

p,
li,
ul,
ol {
    @include font-weight-light;
    color: var(--greyText);
    margin: 0;
}

h1 {
    margin: 12px 0;
    @include font-size-largest;
    @include font-weight-black;
}

h2 {
    margin: 0;
    @include font-size-large;
    @include font-weight-bold;
}

h3 {
    margin: 0;
    @include font-size-normal;
    @include font-weight-bold;
}

a {
    all: unset;
    &:hover {
        color: var(--link);
    }
}
