@use "./font" as *;
@use "./body" as *;
@use "./colors" as *;

p,
li {
    color: var(--greyText);
    margin: 0;

    @include font-weight-light;
}

ul,
ol {
    color: var(--greyText);
    margin: 0;
    padding: 0 0 0 $globalPadding;

    @include font-weight-light;
}

h1 {
    margin: 12px 0;
    line-height: 1.3em;

    @include font-size-largest;
    @include font-weight-bold;
}

h2 {
    margin: 0;
    line-height: 1.5em;

    color: var(--primFg);
    @include font-size-large;
    @include font-weight-bold;
}

h3 {
    margin: 0;

    @include font-size-normal;
    @include font-weight-bold;
}

a {
    position: relative;
    all: unset;
    color: var(--link);

    &:hover {
        cursor: pointer;
        color: var(--link);
    }
}

strong {
    @include font-weight-bold;
}

@mixin jdLineClamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin projectGapReducer {
    margin-bottom: -44px;
}
