@use "../../styles/" as *;

.hashtagContainer {
    align-self: flex-start;
    background-color: var(--greyBg);
    padding: 4px 8px;
    border-radius: 4px;
    @include flexCentered;
}

.hashtagText {
    text-transform: lowercase;
    margin: 0;
    color: var(--greyText);
    @include font-size-small;
}
