@use "../../styles/" as *;

$iconSize: 27px;

.xpContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: start;
    gap: 12px;
    border-radius: 12px;
    max-width: $desktopMaxWidth;
}

.xpRow {
    @include flexCentered;
    flex-direction: row;
    gap: 12px;
}

.xpTotal {
    padding: 0 8px;
    display: grid;
    place-items: center;
    position: relative;
    @include font-size-small;
    border: 1.5px solid var(--greyBg);
    border-radius: 4px;
}

.xpColumn {
    display: grid;
    grid-template-rows: min-content auto;
    place-items: start;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.xpIcon {
    display: grid;
    place-items: center;
    height: $iconSize;
    width: $iconSize;
}

.xpConnector {
    display: grid;
    place-self: center;
    width: 1.5px;
    height: 100%;
    background-color: var(--greyBg);
}
