@use "../../styles/" as *;

$iconSize: 24px;

.xpItemContainer {
    display: grid;
    grid-template-columns: min-content auto;
    place-items: start;
    gap: 12px;
    border-radius: 12px;
}

.xpColumn {
    @include flexCentered;
    place-items: start;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.xpIcon {
    height: $iconSize;
    width: $iconSize;
}

.xpConnector {
    place-self: center;
    width: 1.5px;
    height: 100%;
    background-color: var(--greyBg);
}
