@use "../../styles/" as *;

$iconSize: 27px;
$skillGap: 24px;

.xpContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: start;
    gap: $skillGap;
    border-radius: 12px;
    max-width: $desktopMaxWidth;
}

.xpRow {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 8px;
}

.xpTotal {
    position: relative;
    padding: 0 8px;
    display: grid;
    place-items: center;
    @include font-size-small;
    border: 1.5px solid var(--greyBg);
    border-radius: 4px;
}

.xpColumn {
    display: grid;
    grid-template-rows: min-content auto;
    place-items: start;
    height: 100%;
    gap: 8px;
}

.xpIcon {
    display: grid;
    place-items: center;
    height: $iconSize;
    width: $iconSize;
}

.xpImage {
    height: $iconSize;
    width: $iconSize;
    object-fit: contain;
}

.xpBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--greyBg);
}

.xpText {
    z-index: 1;
}

.xpConnector {
    display: grid;
    place-self: center;
    width: 1.5px;
    height: 100%;
    background-color: var(--greyBg);
}
