@use "../../styles/" as *;

.sectionHeader {
    gap: 12px;

    @include flexCentered;
    @include projectGapReducer;
}

.sectionIcon {
    background-color: var(--greyBg);
    height: 44px;
    width: 44px;
    border-radius: 12px;
    @include flexCentered;
    @include font-size-large;
}
