@use "../../styles/" as *;

.sectionHeader {
    @include flexCentered;
    gap: 12px;
    @include projectGapReducer;
    & > h2 {
        @include textGradient(right);
    }
}

.sectionIcon {
    background-color: var(--greyBg);
    height: 44px;
    width: 44px;
    border-radius: 12px;
    @include flexCentered;
    @include font-size-large;
}
