@use "../../styles/" as *;

.viewContent {
    @include aniWipe;
    @include scroll-bar;
    @include boxSizingBorder;
    @include fullVh;
    display: grid;
    grid-auto-rows: min-content;
    overflow-y: auto;
    place-items: center;

    @include media-phone {
        padding: 0 20px;
    }

    // &::after {
    //     content: "Firefox appears to treat bottom padding in scrollable divs differently, or it's bugged.";
    //     height: 100px;
    //     color: transparent;
    // }
    @include globalBottomAfter;
    @include globalTopAfter;
}
