@use "../../styles/" as *;

.viewContainer {
    box-sizing: border-box;
    z-index: 1;
    @include flexJustifyStart;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    @include scroll-bar;
    // background-color: blue;
    margin: 0 20px;
    padding: 0 0 240px 0;
}

.viewHeader {
    padding: 20px 0;
}
