@use "../../styles/" as *;

.viewContent {
    // width: 100%;
    display: grid;
    place-items: start center;
    @include boxSizingBorder;
    // margin: 0 20px;

    // @include media-phone {
    //     padding: 0 0 240px 0;
    // }

    @include fullVh;
    // width: 100%;
    overflow-y: scroll;
    @include scroll-bar;
    background-color: orange;
}

.viewHeader {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 20px 0;
    // background-color: var(--primBg);
    @include baseBlur;
}
