@use "../../styles/" as *;

$previewImgHeight: 348px;
$previewImgHeightOPen: 500px;
$containerBorder: 24px;
$hoverDuration: 0.5s;
$projectHoverTransition:
    $hoverDuration box-shadow,
    $hoverDuration border,
    $hoverDuration background-color,
    $hoverDuration translate;

.projectsContainer {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: $containerBorder;
    border: 1.5px solid var(--greyBg);
    display: grid;
    grid-auto-columns: 1fr;
    max-width: 1200px;

    @include media-desktop4k {
        max-width: $desktopMaxWidth4k;
    }

    @include media-desktop {
        grid-auto-flow: column;
        gap: 32px;
    }

    @include media-desktop {
        transition: $projectHoverTransition;
        &:hover {
            transition: $projectHoverTransition;
            @include baseShadow;
            border: 1.5px solid var(--link);
            translate: 0 -8px;

            .projectPreviewImg {
                @include aniLinkScale;
                transform: scale(1.09);
            }

            .projectPreviewImgContainer {
                // @include aniHoverOnly;
                background-color: var(--link);
            }
        }
    }
}

.projectsContainerOpen {
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primBg);
    max-width: unset;
    @include scroll-bar;
    overflow-y: scroll;
    @include boxSizingBorder;
    grid-auto-rows: min-content;
    @include themeColorTransition;

    .projectPreviewImgContainer {
        @include bgGradient(top left);
        padding-top: 56px;
        width: 100%;
    }

    .projectContent {
        max-width: $desktopMaxWidth;
        // @include themeColorTransition;
        place-self: start center;
        place-items: start;
        gap: 56px;
        padding: 24px 20px;
        @include globalBottomAfter;
        & > p,
        ul,
        ol,
        img {
            margin-top: -16px;
        }

        & > h1 {
            scroll-margin: 20px;
        }
    }

    .projectSkills {
        gap: 16px;
        flex-direction: column;
    }

    .projectHeader {
        margin-bottom: -28px;
        @include jdLineClamp(5);
    }

    .projectPreviewImg {
        height: $previewImgHeightOPen;
    }
}

.projectPreviewImgContainer {
    @include boxSizingBorder;
    background-color: var(--greyBg);
    padding: 56px 28px;

    @include media-phone {
        padding: 24px;
    }

    display: flex;
    position: relative;
}

.projectPreviewImg {
    @include boxSizingBorder;
    border-radius: 24px;
    padding: 12px;
    @include aniLinkScale;
    object-fit: contain;
    place-self: center;
    height: $previewImgHeight;
    width: 100%;
    height: 288px;
}

.projectContent {
    @include themeColorTransition;
    display: grid;
    grid-auto-rows: min-content;
    place-self: center start;
    gap: 20px;
    padding: 12px;
}

.projectHeader {
    @include jdLineClamp(6);
    position: relative;
    @include font-size-larger;
    @include textGradient(right);
}

.projectDesc {
    @include jdLineClamp(2);
    color: var(--greyText);
}

.projectSkills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.projectLaunchIcon {
    display: grid;
    place-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: var(--link);
    position: absolute;
    bottom: -20px;
    transform: scale(0.7);
    opacity: 0;
    visibility: hidden;
    right: 12px;

    path {
        stroke: var(--primBg);
    }
}

.projectNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.projectNavArrowIcon {
    z-index: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--greyBg);
    height: 40px;
    width: 40px;
    @include aniLinkClick;

    path {
        stroke: var(--primFg);
    }

    @include aniHoverBase {
        path {
            stroke: var(--primFg);
        }
    }
}

.projectNavText {
    text-align: center;
    @include textGradient(top right);
    flex: 1;
    @include jdLineClamp(1);
    @include media-phone {
        @include jdLineClamp(2);
        text-align: left;
    }
}
