@use "../../styles/" as *;

$previewImgHeight: 324px;

.projectsContainer {
    border-radius: 24px;
    display: grid;
    border: 1.5px solid var(--primFg);
    overflow: hidden;
    max-width: $desktopMaxWidth;
    gap: 12px;
}

.projectPreviewImg {
    background-color: var(--greyBg);
    object-fit: contain;
    height: $previewImgHeight;
    width: 100%;
}

.projectContent {
    display: grid;
    padding: 12px;
    gap: 12px;
}

.projectHeader {
    @include jdLineClamp(2);
}

.projectDesc {
    @include jdLineClamp(3);
}
