@use "../../styles/" as *;

$logoContainer: 56px;

.homeLogo {
    display: grid;
    place-items: center;
    border-radius: 200px;
    height: $logoContainer;
    width: $logoContainer;
    background-color: var(--primBg);
    @include baseShadow;
}
