@use "../../styles/" as *;

$logoContainer: 56px;

.homeLogoContainer {
    display: grid;
    place-items: center;
    border-radius: 12px;
    height: $logoContainer;
    width: $logoContainer;
    background-color: var(--primBg);
    @include baseShadow;
}

.homeLogo {
    path {
        // fill: var(--primFg);
        @include bgGradient;
    }
}
