@use "../../styles/" as *;

$logoContainer: 64px;

.homeLogoContainer {
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: $logoContainer;
    width: $logoContainer;
    background-color: var(--primBg);
    @include baseShadow;
    @include themeColorTransition;
    @include rotateBorder(110%, 110%);
}

.homeLogo {
    path {
        @include bgGradient;
    }
}
