@use '../../styles/' as *;

.closeContainer {
    position: fixed;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    height: 56px;
    width: 56px;
    right: 24px;
    border-radius: 200px;
    z-index: 3;
    @include font-size-small;
    @include baseShadow;
    @include baseBlur;

    path {
        stroke: var(--primFg);
    }

    @include aniHoverBase {
        path {
            stroke: var(--primWhite);
        }
    }
}
