@use "../../styles/" as *;

.closeContainer {
    position: fixed;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    height: 56px;
    width: 56px;
    right: 24px;
    border-radius: 200px;
    @include font-size-small;
    path {
        stroke: var(--primFg);
    }
    @include aniHoverBase;
    @include baseShadow;
    @include baseBlur;
}
