@use "../../styles/" as *;

@mixin btnTransition {
    transition:
        background-color 0.3s,
        color 0.3s;
}

button {
    all: unset;
}

.buttonContainer {
    @include flexCentered;
    padding: 24px;
    background-color: var(--primFg);
    border: 1.5px solid transparent;
    color: var(--primBg);
    border-radius: 20px;
    user-select: none;

    @include aniHoverBase {
        color: var(--primBg);
    }

    @include btnTransition;

    &:disabled {
        @include btnTransition;
        background-color: transparent;
        border: 1.5px solid var(--greyLine);
        color: var(--greyText);
        cursor: not-allowed;
    }
}
