@use '../../styles/' as *;

$imgMaxHeight: 440px;

.multiMedia {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    place-self: center;
}

.projectsImage {
    border-radius: 24px;
    place-self: start center;
    max-width: 100%;
    max-height: $imgMaxHeight;
    object-fit: contain;

    @include media-phone {
        border-radius: 16px;
    }
    @include linkTransitions;
    @include baseShadow;

    &:hover {
        @include aniLinkScale;
        cursor: pointer;
    }
}

.projectImageCaption {
    font-style: italic;
    color: var(--greyText);
    width: 100%;
    text-align: center;
    @include font-size-smallest;
}

.projectGapReducer {
    @include projectGapReducer;
}

.projectVideo {
    height: 600px;
    place-self: center;
}

.projectVideoWide {
    width: 100%;

    @include media-phone {
        margin-top: -124px;
    }
}
