@use "../../styles/" as *;

$contactPosition: 24px;
$contactSize: 56px;

.contactWrapper {
    position: fixed;
    bottom: calc(100% + 24px);
    @include media-phone {
        bottom: 102px;
    }
    right: 24px;
}

.contactPulse {
    @include aniBeforePulse(0, 200px);
}

.contactContainer {
    @include flexCentered;
    gap: 12px;
    width: $contactSize;
    height: $contactSize;
    background-color: var(--primBg);
    border-radius: 200px;
    @include baseShadow;

    transition: padding 0.2s;
    @include aniLinkClick;
    &:hover {
        @include media-desktop {
            transition: padding 0.2s;
            cursor: pointer;
            padding: 0 16px;
            width: auto;

            & > span {
                display: unset;
                // color: var(--primBg);
            }
        }
    }

    & > span {
        display: none;
        user-select: none;
        @include font-size-small;
    }
}
