@use "../../styles/" as *;

$contactPosition: 24px;
$contactSize: 56px;

.contactContainer {
    position: fixed;
    @include flexCentered;
    gap: 12px;
    position: absolute;
    right: $contactPosition;
    min-width: $contactSize;
    min-height: $contactSize;
    background-color: var(--primBg);
    border-radius: 200px;

    @include baseShadow;
    transition: 375ms padding cubic-bezier(0, 1, 0, 1);
    @include aniHoverBase {
        padding: 0 16px;
        transition: 375ms padding cubic-bezier(0, 1, 0, 1);

        & > span {
            display: unset;
            color: var(--primBg);
        }
    }

    & > span {
        display: none;
        user-select: none;
        @include font-size-normal;
    }
}
