@use "../../styles/" as *;

$iconHeight: 32px;
$activeBorder: 2px;

.navItemContainer {
    border-top: $activeBorder solid transparent;
    @include flexCentered;
    flex-direction: column;
    flex: 1 1 0;
    padding: 8px;

    @mixin aniHoverBase {
        .navItemIcon {
            path,
            rect {
                stroke: var(--primBg);
            }

            color: var(--link);
        }

        .navItemText {
            color: var(--link);
        }
    }
}

.navItemActive {
    border-top: $activeBorder solid var(--primFg);
}

.navItemIcon {
    height: $iconHeight;
    width: $iconHeight;
    @include flexCentered;
}

.navItemText {
    @include font-size-small;
    color: var(--primFg);
}
