@use "../../styles/" as *;

.navItemContainer {
    @include flexCentered;
    flex-direction: column;
    gap: 12px;
    &:hover {
        cursor: pointer;
        path {
            stroke: var(--link);
        }
    }
}

.navItemText {
    @include font-size-small;
    color: var(--primFg);
}
