@use "../../styles/" as *;

$iconHeight: 32px;

.navItemContainer {
    @include flexCentered;
    flex-direction: column;
    flex: 1 1 0;
    @include aniHoverBg;
    padding: 8px;

    &:hover {
        cursor: pointer;

        .navItemIcon {
            @include aniHoverBg;
            path,
            rect {
                stroke: var(--link);
            }

            color: var(--link);
            @include aniHoverBg;
        }

        .navItemText {
            color: var(--link);
        }
        // background-color: var(--link);
    }
}

.navItemActive {
    border-top: 2px solid var(--primFg);
}

.navItemIcon {
    height: $iconHeight;
    width: $iconHeight;
    @include flexCentered;
}

.navItemText {
    @include font-size-small;
    color: var(--primFg);
}
